{% extends 'bootstrap/base.html' %}
{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      {%if current_user.is_authenticated%}

      <li class="navbar-header">
        <div class="navbar-brand">Hi, {{current_user.username}}</div>
      </li>
      {%else%}
      <li><a href="{{ url_for('login') }}">Login</a></li>
      <li><a href="{{ url_for('register') }}">Register</a></li>
      {%endif%}
      <li><a href="{{ url_for('index') }}">Home</a></li>
      {%if current_user.is_authenticated%}
      <li><a href="{{ url_for('user',username=current_user.username) }}">View Profile</a></li>
      <li><a href="{{url_for('newbook')}}">Upload Book</a></li>
      {%endif%}
      {% if g.search_form %}
                      <form class="navbar-form navbar-left" method="get"
                              action="{{ url_for('search') }}">
                          <div class="form-group">
                              {{ g.search_form.q(size=20, class='form-control',
                                  placeholder=g.search_form.q.label.text) }}
                          </div>
                      </form>
                      
                      {% endif %}

     

<button class='btn' onclick="download()">download all questions and answers</button>                                 
                    
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {%if current_user.is_authenticated%}
      <li><a href="{{ url_for('logout') }}">LogOut</a></li>
      {%endif%}
    </ul>
  </div>
</nav>


<script>

  function download() {

      $.ajax({

          'url': "{{ url_for('download_content') }}",

          'type': "GET",

          'success': function (data, status, request) {

              status = request.getResponseHeader('Location');        

              status_check(status)

          }

      });

  }



  function status_check(task_status) {

      $.ajax({

          'url': task_status,

          'type': "GET",

          'success': function (data) {

              if ((data['state'] == 'PENDING') || (data['state'] =='PROGRESS')) {

                  setTimeout(function () {

                      status_check(task_status);

                  }, 2000);

              } else {

                get_json_file()

              };

          }

      });

  }
  function get_json_file(){
    $.ajax({'url':"{{ url_for('send_json_file') }}",
  'type':"GET",
  'success':function(){alert("download completed");}});
  }

</script>

{% endblock %}
