{% extends "base.html" %}
{% block content %}
<h1>Upload Book</h1>
<form action="" method="post" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  {{ message }}
  {% endfor %}
  {% endif %}
  {% endwith %}
  <p>
    {{ form.title.label }}<br>
    {{ form.title(size=32) }}<br>
    {% for error in form.title.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    <input type="file" name="file" />
  </p>
  <p>
    {{ form.summary.label }}<br>
    {{ form.summary(size=120) }}<br>
    {% for error in form.summary.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.category.label }}<br>
    {{ form.category(size=32) }}<br>
    {% for error in form.category.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>{{ form.submit() }}</p>
</form>
{% endblock %}
