{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
<h2 class="col-md-4 col-md-offset-4">Register</h2>
<div class="col-md-4 col-md-offset-4">

  {{ wtf.quick_form(form) }}
</div>
</div>
{% endblock %}
